@model ProductDto
<!-- Sidebar Start -->
<partial name="_SidebarAdminPartialView" />
<!-- Sidebar End -->

<div class="content">
    <div class="container box-shadow bg-white mt-5 border-2">
        <div class="row">
            <div class="col-12 col-md-10">
                <form method="post" asp-controller="ProductAdmin"
                      asp-action="@(Model.ProductId == 0 ? "CreateProduct" : "UpdateProduct")">
                    <input asp-for="@Model.ProductId" hidden readonly />
                    <input asp-for="@Model.ImageUrl" hidden readonly />
                    <div class="border p-3 row">
                        <div class="row pb-2">
                            <h2 class="text-center text-secondary">@(Model.ProductId == 0 ? "Create Product" : "Update Product")</h2>
                            <hr />
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="@Model.Price"></label>
                            <input asp-for="@Model.Price" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Price"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Description"></label>
                            <textarea asp-for="@Model.Description" class="form-control"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Description"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="@Model.CategoryName"></label>
                            <input asp-for="@Model.CategoryName" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.CategoryName"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="@Model.ImageUrl"></label>
                            <input accept="image/*" type="file"
                                   id="uploadBox" name="file" class="form-control"
                                   onchange="document.querySelector('.img-thumbnail').src = window.URL.createObjectURL(this.files[0])" />
                        </div>
                        <div>
                            <button class="btn btn-primary"
                                    type="submit" style="width: 150px">
                                @(Model.ProductId == 0 ? "Create" : "Update")
                            </button>
                            <a class="btn btn-secondary mx-2" style="width: 150px" asp-action="Index" asp-controller="ProductAdmin">
                                Back to the list
                            </a>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-12 col-md-2">
                <img src="@(Model.ProductId == 0 ? "https://via.placeholder.com/250x150" : Model.ImageUrl)" alt="product-image" class="img-thumbnail" />
            </div>
        </div>
    </div>
    @if (Model.ProductId == 0)
    {
        <div class="container mt-5 box-shadow bg-white border-2">
            <div class="row">
                <div class="col-12 col-md-10">
                    <form method="post" enctype="multipart/form-data">
                        <div class="border p-3 row">
                            <div class="pb-2">
                                <h2 class="text-center text-secondary text-capitalize">@(Model.ProductId == 0 ? "Create products by file" : "Update Product")</h2>
                                <hr />
                            </div>
                            <div class="mb-3 col-12 col-sm-8 col-xl-10">
                                <label>File</label>
                                <input accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                   type="file"
                                   name="file" class="form-control" />
                            </div>
                            <div class="col-6 col-sm-4 col-xl-2">
                                <label>Template</label>
                                <a class="btn btn-outline-success d-block" role="button" onclick="downloadTemplateFile()">
                                    Download<i class="bi bi-chevron-bar-down ms-2"></i>
                                </a>
                            </div>
                            <div class="col-12 mt-3 mt-sm-0">
                                <button class="btn btn-primary" type="submit" style="width: 150px">Upload File</button>
                                <a class="btn btn-secondary mx-2" style="width: 150px" asp-action="Index" asp-controller="ProductAdmin">
                                    Back to the list
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        function downloadTemplateFile() {
            const aElement = document.createElement('a');
            document.body.appendChild(aElement);
            aElement.href = "@String.Format("{0}/get-template-file",SD.ProductAPIBase)";
            aElement.click();
            document.body.removeChild(aElement);
        }
    </script>
}